<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasyMoveOMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EasyMoveOMS.Properties.Settings.connStr" connectionString="Server=den1.mysql5.gear.host; database=easymove; UID=easymove; password=Cz6iV4UR__0G" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <EasyMoveOMS.Properties.Settings>
            <setting name="showAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="companyName" serializeAs="String">
                <value />
            </setting>
            <setting name="truckParking" serializeAs="String">
                <value />
            </setting>
            <setting name="phoneNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="city" serializeAs="String">
                <value />
            </setting>
            <setting name="province" serializeAs="String">
                <value />
            </setting>
        </EasyMoveOMS.Properties.Settings>
    </userSettings>
</configuration>